* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

.logotipo {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

header {
    height: 655px;
    background-image: url("assets/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.menu-navigation {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.nav-home {
    display: inline-block;
    background: #92929275;
    color: #000000;
    border: 1px solid #07070748;
    margin: 5px;
    border-radius: 5%;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-home:hover {
    background: #a8a8a8b4;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1500px;
    padding: 0 30px;
}

.container-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 70px;
    height: 605px;
}

.container-head p {
    max-width: 577px;
}

.subtitle {
    text-align: center;
    width: 90%;
    max-width: 1990px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}

.about-us-contains {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-us-contains img {
    width: 20%;
}

.about-us-paragraph {
    width: 40%;
    max-width: 577px;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.projects-contains {
    display: flex;
    text-align: center;
    padding: 40px 40px;
}

.plugins {
    border: 1px solid #07070748;
    overflow: hidden;
    width: 390px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.plugins .plugin-contains {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.plugin-name {
    --text-opacity: 1;
    color: #2c323c;
    color: rgba(44,50,60,var(--text-opacity));
    transition: .2s;
}

.plugin-logo {
    height: 147px;
    width: 147px;
    object-fit: cover;
    object-position: center;
}

footer {
    background: #1ef1a0;
    padding-bottom: 0.1px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 60%;
    text-align: center;
    color: #ffffff;
}

.social-media-icon:hover {
    background: #5f9ea0;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}